#bg-text {font-size: 100vh; position: absolute; bottom: 0; right: 0; pointer-events: none; z-index: -1}
.header {font: 20pt monospace; margin-bottom: 10px;}
.centered {text-align: center; margin-left: auto; margin-right: auto;}
.label {font: 16pt monospace; padding: 10px;}
table {width: 100%; border: 3px solid; margin-bottom: 10px;}
.highlight-node tbody tr:first-child {color: red;}
.bordered {border: 3px solid;}
.button {width: 50%; font: 14pt sans-serif;}
.textfield {width: 50%; font: 14pt sans-serif; color: black; text-align: center;}
.selector {width: 50%; font: 14pt sans-serif; color: black;}
td {margin: 10px}
a {text-decoration: none;}
.absolute-center {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%)}